<h1>Your <%= @experience.medium.name %> experience!</h1>

<div class="rating">
    <p><strong><%= @experience.rating %>/10</strong></p>
</div>
<p><%= @experience.notes %></p>

<%= link_to "Add more notes or change your rating!", edit_medium_experience_path(@experience.medium, @experience) %>

